.nameList{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    width: 110px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    color: rgb(33, 32, 63);
    border-radius: 2px 2px 2px 2px;
    border-color: rgb(149, 219, 219);
    background-color: rgb(130, 225, 220);
}
.text{
    margin: 0;
    margin-top: 20px;
    color: honeydew;
    font-size: 20px;
    /* border: solid 1px #fff; */
}
.button:hover{
    /* width: 180px; */
    color: brown;
    animation: vibrate-fast 1s ease 0s 1 normal none;
}
@keyframes vibrate-fast {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2px, -2px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    30% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, -2px);
    }

    70% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    90% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}